project/DVP/impl/
project/SoC/impl/
project/DVP/src/gowin_workfile
project/Murax/Murax.cache/
project/Murax/Murax.hw/
project/Murax/Murax.ip_user_files/
project/Murax/Murax.sim/
project/Cyber/Cyber.cache/
project/Cyber/Cyber.hw/
project/Cyber/Cyber.ip_user_files/
project/Cyber/Cyber.sim/
*.bin
*.hex
*.zip
