IO_LOC "io_mainClk" P16;
IO_LOC "io_asyncReset" U4;
IO_PORT "io_mainClk" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "io_asyncReset" PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;


IO_LOC "GPIOA[0]" N23;
IO_LOC "GPIOA[1]" N21;
IO_LOC "GPIOA[2]" M25;
IO_LOC "GPIOA[3]" L20;
IO_LOC "GPIOA[4]" R26;
IO_LOC "GPIOA[5]" J14;
IO_LOC "GPIOA[6]" G16;
IO_LOC "GPIOA[7]" G15;
IO_LOC "GPIOA[8]" F15;
IO_LOC "GPIOA[9]" K16;
IO_PORT "GPIOA[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "GPIOA[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "GPIOA[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "GPIOA[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "GPIOA[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "GPIOA[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "GPIOA[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "GPIOA[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "GPIOA[8]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "GPIOA[9]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;