//============ SYS ===============
IO_LOC "clk" H11;  // 27MHz
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rst_n" C7;
IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;


//============ JTAG ===============
IO_LOC "io_jtag_tdo" T6;
IO_PORT "io_jtag_tdo" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_jtag_tdi" P6;
IO_PORT "io_jtag_tdi" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "io_jtag_tms" R8;
IO_PORT "io_jtag_tms" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "io_jtag_tck" P7;
IO_PORT "io_jtag_tck" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;


//============ GPIOA ===============
IO_LOC "GPIOA[0]" T10;  // BUTTOM0
IO_PORT "GPIOA[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOA[1]" T3 ;  // BUTTOM1
IO_PORT "GPIOA[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOA[2]" T2 ;  // BUTTOM2
IO_PORT "GPIOA[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOA[3]" D7 ;  // BUTTOM3
IO_PORT "GPIOA[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOA[4]" J14;
IO_PORT "GPIOA[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOA[5]" J16;
IO_PORT "GPIOA[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOA[6]" M14;
IO_PORT "GPIOA[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOA[7]" M15;
IO_PORT "GPIOA[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOA[8]" T12;
IO_PORT "GPIOA[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOA[9]" R11;
IO_PORT "GPIOA[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOA[10]" T11;
IO_PORT "GPIOA[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOA[11]" P11;
IO_PORT "GPIOA[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOA[12]" L16;  // LED0
IO_PORT "GPIOA[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOA[13]" L14;  // LED1
IO_PORT "GPIOA[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOA[14]" N14;  // LED2
IO_PORT "GPIOA[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOA[15]" N16;  // LED3
IO_PORT "GPIOA[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;


//============ GPIOB ===============
IO_LOC "GPIOB[0]" M11;  // UART_TX
IO_PORT "GPIOB[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOB[1]" T13;  // UART_RX
IO_PORT "GPIOB[1]" IO_TYPE=LVCMOS33;
IO_LOC "GPIOB[2]" N9;
IO_PORT "GPIOB[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOB[3]" N7;
IO_PORT "GPIOB[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOB[4]" N6;
IO_PORT "GPIOB[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOB[5]" D11;
IO_PORT "GPIOB[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOB[6]" A11;
IO_PORT "GPIOB[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOB[7]" B11;
IO_PORT "GPIOB[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOB[8]" B12;
IO_PORT "GPIOB[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOB[9]" C12;
IO_PORT "GPIOB[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOB[10]" B13;
IO_PORT "GPIOB[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOB[11]" A14;
IO_PORT "GPIOB[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOB[12]" B14;
IO_PORT "GPIOB[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOB[13]" A15;
IO_PORT "GPIOB[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOB[14]" D14;
IO_PORT "GPIOB[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIOB[15]" E15;
IO_PORT "GPIOB[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

